menuconfig TEST_MODULE
	bool "Test module"
	default n
	---help---
	  Run a test module instead of booting the system.

if TEST_MODULE

choice
	prompt "Select test module"

config TEST_MODULE_ATOMIC
	bool "atomic"

if TEST_MODULE_ATOMIC

config TEST_MODULE_ATOMIC_64
	bool "Force 64-bit atomic operations"
	default n
	---help---
	  Force atomic operations to apply to 64-bit integers, even on 32-bit
	  targets. Some targets may not support 64-bit atomic operations
	  at all.

endif

config TEST_MODULE_BULLETIN
	bool "bulletin"

config TEST_MODULE_MUTEX
	bool "mutex"
	select MUTEX_DEBUG

config TEST_MODULE_MUTEX_PI
	bool "mutex_pi"

config TEST_MODULE_PERFMON_CPU
	bool "perfmon_cpu"
	depends on PERFMON

config TEST_MODULE_PERFMON_THREAD
	bool "perfmon_thread"
	depends on PERFMON

config TEST_MODULE_PERFMON_TORTURE
	bool "perfmon_torture"
	depends on PERFMON

config TEST_MODULE_PMAP_UPDATE_MP
	bool "pmap_update_mp"

config TEST_MODULE_RCU_DEFER
	bool "rcu_defer"

config TEST_MODULE_SREF_DIRTY_ZEROES
	bool "sref_dirty_zeroes"

config TEST_MODULE_SREF_NOREF
	bool "sref_noref"

config TEST_MODULE_SREF_WEAKREF
	bool "sref_weakref"

config TEST_MODULE_THREAD_SUSPEND
	bool "thread_suspend"

config TEST_MODULE_VM_PAGE_FILL
	bool "vm_page_fill"

config TEST_MODULE_XCALL
	bool "xcall"

endchoice

endif
