*.o
*.a
.deps/
.dirstamp
Makefile
Makefile.in
cscope.out
tags
x15.lds
/aclocal.m4
/autom4te.cache/
/build-aux/
/config.*
/configure
/stamp-h1
/x15
/x15.sorted_init_ops
/doc/*\.[1-9]
/doc/*\.[1-9]\.html
