#
# For a description of the syntax of this configuration file,
# see doc/kbuild/kconfig-language.txt.
#
mainmenu "X15/$ARCH $VERSION Kernel Configuration"

config ARCH
	string
	option env="ARCH"

config VERSION
	string
	option env="VERSION"

config KERNEL_VERSION
	string
	default VERSION

config CC
	string
	option env="CC"

config CFLAGS
	string
	option env="CFLAGS"

menu "Build options"

config COMPILER
	string "Compiler executable"
	default CC
	---help---
	  Name of the compiler executable

	  This includes any toolchain prefix, and must be a file name,
	  not a path.

config COMPILER_OPTIONS
	string "Compilation options"
	default CFLAGS
	---help---
	  Raw options passed to the compiler.

config ASSERT
	bool "Assertions"
	default y
	---help---
	  Enable assert() code generation.

config SYMTAB
	bool "Build symbol table"
	default y
	---help---
	  Build and embed a symbol table in the kernel.

	  This option allows the kernel to perform symbolic address
	  resolutions which are very convenient for debugging, at the
	  cost of additional data memory.

	  If unsure, enable.

endmenu

source "arch/$ARCH/Kconfig"
source "kern/Kconfig"
source "test/Kconfig"
