menu "Architecture-specific options"

config ARM
	def_bool y

choice
	prompt "Board"
	default QEMU_VIRT_2_8

config QEMU_VIRT_2_8
	bool "QEMU 2.8 virtual machine"

endchoice

config SUBARCH
	string
	default "armv5tej" if X86_32

endmenu
