menu "Architecture-specific options"

config ARM
	def_bool y

config ARMV7
	bool

config ARMV7A
	bool
	select ARMV7

config ARM_ARCH
	int
	default 7 if ARMV7

config SUBARCH
	string
	default "armv7a" if ARMV7A

config ARCH_SMP
	bool
	default y if ARMV7A

config CPU_CORTEX_A15
	bool
	select ARMV7A

choice
	prompt "Board"
	default BOARD_SELECT_QEMU_VIRT_2_8

config BOARD_SELECT_QEMU_VIRT_2_8
	bool "QEMU 2.8 virtual machine"
	---help---
	  This virtual board is used by the tools/qemu_arm.sh script.

endchoice

source "arch/arm/board-qemu-virt28/Kconfig"

endmenu
